<header class="main-header">
  <div class="social-nav">
    <span class="social-media">
      <a href="javascript:void(0)" title="Facebook">
        <svg version="1.1" width="20" height="20" viewBox="0 0  20 20" class="octicon" aria-hidden="true">
            <use xlink:href="sprite.social.svg#facebook"></use>
        </svg>
        <!--[if lt IE 9]><em>Facebook</em><![endif]-->
      </a>
      <a href="javascript:void(0)" title="Twitter">
        <svg version="1.1" width="20" height="20" viewBox="0 0  20 20" class="octicon" aria-hidden="true">
            <use xlink:href="sprite.social.svg#twitter"></use>
        </svg>
        <!--[if lt IE 9]><em>Twitter</em><![endif]-->
      </a>
    </span>
    <p class="social-phones">
      Telf: <a href="tel:+593-2-289-5559" title="Telefono 1">2-895-559</a> / <a href="tel:+593-2-289-6775" title="Telefono 2">2-896-775</a>
    </p>
  </div>
  <nav class="main-nav">
    <figure>
      <img src="img/mainLogoPF.png" alt="El Palacio de la Fritada">
    </figure>
    <ul class="main-nav-menu">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link"  routerLink="" href="javascript:void(0)" title="Menú">Menú</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="./history" href="javascript:void(0)" title="Historia">Historia</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="./location" href="javascript:void(0)" title="Ubicación">Ubicación</a>
      </li>
      <li routerLinkActive="active">
        <a class="nav-link" routerLink="./contact" href="javascript:void(0)" title="Contacto">Contacto</a>
      </li>
    </ul>
  </nav>
</header>
