<footer>
  <div class="footer-social">
    <a href="https://www.facebook.com/elpalaciodelafritada" title="Facebook">
      <svg version="1.1" width="20" height="20" viewBox="0 0  20 20" class="octicon" aria-hidden="true">
          <use xlink:href="sprite.social.svg#facebook"></use>
      </svg>
      <!--[if lt IE 9]><em>Facebook</em><![endif]-->
    </a>
    <a href="https://twitter.com/search?q=el%20palacio%20de%20la%20fritada&src=typd" title="Twitter">
      <svg version="1.1" width="20" height="20" viewBox="0 0  20 20" class="octicon" aria-hidden="true">
          <use xlink:href="sprite.social.svg#twitter"></use>
      </svg>
      <!--[if lt IE 9]><em>Twitter</em><![endif]-->
    </a>
    <a href="mailto:info@elpalaciodelafritada.com?subject=Mail desde nuestro sitio web" title="Email">
      <svg version="1.1" width="20" height="20" viewBox="0 0  20 20" class="octicon" aria-hidden="true">
          <use xlink:href="sprite.octicons.svg#mail"></use>
      </svg>
      <!--[if lt IE 9]><em>Facebook</em><![endif]-->
    </a>
  </div>
  <p class="copyright">© {{year}} ∙ El Palacio de la Fritada ∙ Todos los derechos reservados</p>
</footer>
