@import '../../sass/variables';
@import '../../sass/title';

.history {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

.history-img {
  border-radius: 10px;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

@media (max-width: 400px) {
  .history-img {
    border-radius: 0;
  }
}

.history-text {
  color: rgba(0,0,0,.8);
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  letter-spacing: -.003em;
  line-height: 1.58;
  margin: 20px;
  text-align: justify;
  text-align: justify;

  &:last-child {
    margin-top: 0;
  }
}
