<h3 class="section-title">Nuestra Historia</h3>
<section class="history">
  <img class="history-img" src="img/history.jpg" alt="Rocío Mullo, María Albertina Oña y Olga Mullo">
  <p class="history-text">
    Hace mas de 40 años en un pequeño fogón ubicado en una pequeña parroquia a las
    afueras de la ciudad, María Albertina Oña concibió un sabor único de la comida tradicional.
  </p>
  <p class="history-text">
    El Palacio de la Fritada es conocido ahora por su calidad y sabor, mejorando
    incansablemente para brindar un mejor servicio, algo que solo se lo logra con
    esfuerzo y perseverancia, cualidades que para María Albertina es el secreto de la distinción.
  </p>
</section>
