@import '../../sass/variables';
@import '../../sass/title';

.history {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

.history-img {
  border-radius: 10px;
  margin: 0 auto;
  max-width: 400px;
  width: 100%;
}

@media (max-width: 400px) {
  .history-img {
    border-radius: 0;
  }
}

.history-text {
  color: $dark-1;
  margin: 20px;
  text-align: justify;

  &:last-child {
    margin-top: 0;
  }
}
