<h3 class="section-title">Contáctanos</h3>
<section class="contact">
  <form>
    <dl class="form-group">
      <dt><label>Nombre</label></dt>
      <dd><input class="form-control" type="text"></dd>
      <dd class="error">nombre es requerido.</dd>
    </dl>
    <dl class="form-group">
      <dt><label>Email</label></dt>
      <dd><input class="form-control" type="email"></dd>
      <dd class="error">email es requerido.</dd>
    </dl>
    <dl class="form-group">
      <dt><label>Comentario / Sugerencia</label></dt>
      <dd>
        <textarea class="form-control"></textarea>
      </dd>
      <dd class="error">comentario es requerido.</dd>
    </dl>
    <div class="form-actions">
      <button type="button" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</section>
