<h3 class="section-title">Menú</h3>
<section class="menu">
  <ul class="menu-category">
    <li><a href="javascript:void(0)" (click)="scrollToProduct(0)" title="Fritadas">Fritadas</a></li>
    <li><a href="javascript:void(0)" (click)="scrollToProduct(800)" title="Sopas">Sopas</a></li>
    <li><a href="javascript:void(0)" (click)="scrollToProduct(1600)" title="Entradas">Entradas</a></li>
    <li><a href="javascript:void(0)" (click)="scrollToProduct(1920)" title="Bebidas">Bebidas</a></li>
  </ul>
  <div class="menu-products">
    <ul class="products" (scroll)="horizontalScroll()">
      <li *ngFor="let item of model.products" class="{{item.category}}">
        <a class="product" href="javascript:void(0)" title="{{item.name}}">
          <img class="product-image" src="img/products/{{item.img}}" alt="{{item.name}}">
          <span class="product-title">{{item.name}}</span>
        </a>
      </li>
    </ul>
  </div>
</section>
