@import '../../sass/variables';

.menu {
  .menu-category {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    justify-content: center;
    padding-left: 0;

    li {
      display: inline-block;
      padding: 15px;

      a {
        color: $light-4;
        font-size: 15px;
        font-weight: normal;
      }
    }
  }

  .menu-products {
    height: 230px;
    margin: 0 auto;
    max-width: 960px;
    overflow: hidden;
    width: 100%;

    ul {
      align-items: flex-start;
      display: flex;
      flex-flow: row nowrap;
      list-style: none;
      justify-content: flex-start;
      padding-left: 0;
      overflow-x: scroll;
      overflow-y: hidden;
    }
  }
}

@media (max-width: 339px) {
  .menu {
    .menu-category {
      li {
        padding: 10px;
      }
    }
  }
}

.products {
  height: 270px;

  li {
    display: inline-block;
    min-width: 160px;
    width: 160px;
    white-space: normal;

    a {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

.product {
  .product-image {
    width: 100%;
  }
  .product-title {
    color: $light-5;
    display: block;
    font-size: 12px;
    text-align: center;
  }
}
