@import 'sass/variables';
/* You can add global styles to this file, and also import other style files */
html,
body {
  background-color: $white;
  color: $dark-1;
  font: {
    family: $body-font;
    size: 16px;
  }
  position: relative;
  text-rendering: optimizeLegibility;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

a {
  color: $blue;
  text-decoration: none;
}
